xml/littre.rng

<?xml version="1.0" encoding="UTF-8"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
	ns="http://www.tei-c.org/ns/1.0"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
	xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	xml:lang="fr">

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<title>Schéma d'encodage du Littré</title>
		<h1>Schéma d'encodage du Littré</h1>
		<p>Présentation de la structure informatique du <i>Dictionnaire de la langue française</i> d'Émile Littré, encodé en XML et respectant les spécifications de la <a href="http://www.tei-c.org/Guidelines/P5/">TEI-P5</a>. Ce projet a été réalisé à partir de la version électronique du <i>Littré</i> réalisée par François Gannaz (version 1.3) et correspond à l'intégralité de l’édition originale de 1872 en 4 volumes, enrichie de son supplément de 1877.</p>
	</a:documentation>

	<!-- ========================= DESCRIPTION <text> ========================= -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<p><b><i>&#171;&#x202F;Le passé de la langue conduit immédiatement l'esprit vers son avenir.&#x202F;&#187;</i></b><br/>(Émile Littré, Préface du <i>Dictionnaire de la langue française</i>)</p>
		<h2>&#171;&#x202F;Pour la nomenclature&#x202F;&#187;</h2>
		<p>Convaincu de la nécessité de connaître les emplois passés pour éclairer les usages présents, Émile Littré construit la nomenclature de son <i>Dictionnaire de la langue française</i> sur le socle de celle du <i>Dictionnaire de l'Académie Française</i>&#160;; ce &#171;&#x202F;corps de la langue&#x202F;&#187; est donc enrichi à partir de nombreuses sources d'addition&#160;:</p>
		<p><ul>
			<li>le &#171;&#x202F;dépouillement des auteurs classiques&#x202F;&#187;d'une part, ainsi que les &#171;&#x202F;auteurs du seizième siècle, du quinzième, et même [...] les auteurs antérieurs, s'il était possible d'y puiser sans réserve&#x202F;&#187;&#160;;</li>
			<li>les &#171;&#x202F;termes de métier&#x202F;&#187;&#160;(à partir de la nomenclature des travaux de Furetière et Richelet)&#160; et les termes scientifiques d'autre part, deux objects par ailleurs bien distincts&#160;: &#171;&#x202F;tandis que la langue des métiers est toujours populaire, souvent archaïque, et tirée des entrailles même de notre idiome, la langue scientifique est presque toute grecque, artificielle et systématique&#160;: là l'étymologie se présente d'elle-même&#x202F;&#187;.</li>
		</ul></p>
	</a:documentation>

	<define name="text">
		<element name="text">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Corps du document</b></a:documentation>
			<element name="body">
				<oneOrMore>
					<ref name="entry"/>
				</oneOrMore>
			</element>
		</element>
	</define>

	<!-- description de <entry> -->

	<define name="entry">
		<element name="entry">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Article (entrée)</b>
				<p>Chaque entrée est dotée d'un identifiant unique, correspondant à sa vedette. Cet identifiant permet d'assurer la liaison entre les nombreux renvois et les entrées du auxquels ils réfèrent. Il peut-être :
					<ul>
						<li>une forme simple, auquel cas il s'agit du lemme de ce mot, éventuellement suivi d'un point et d'un indice numérique afin de différencier deux entrée portant sur le même lemme<br/>exemple : @xml:id="abrégé.1" et xml:id="abrégé.2" ;</li>
						<li>une forme composée&#x202F;&#8211;&#x202F;type locution&#x202F;&#8211;&#x202F;transcrite telle quelle<br/>exemple : @xml:id="te_deum" et @xml:id="vaque_à_tout" ;</li>
						<li>un préfixe, auquel cas sa forme sera suivie d'un tiret court, son statut de suffixe étant précisé par l'attribut @type<br/>exemple : @xml:id="andr-" ;</li>
						<li>un suffixe, auquel cas sa forme sera la même que celle d'un mot simple, son statut de suffixe étant précisé par l'attribut @type<br/>exemple : @xml:id="acé" ;</li>
					</ul>
				</p>
			</a:documentation>
			<attribute name="xml:id"/>
			<optional>
				<attribute name="type">
					<choice>
						<value>prefixe</value>
						<value>suffixe</value>
					</choice>
				</attribute>
			</optional>
			<choice>
				<group> <!-- entrées particulières codant participes passés, pluriels, etc. -->
					<ref name="form"/>
					<zeroOrMore>
						<ref name="cit"/>
					</zeroOrMore>
					<optional>
						<choice>
							<ref name="note-remarque"/>
							<ref name="note-historique"/>
						</choice>
					</optional>
					<optional>
						<ref name="re-supplement"/> <!-- TODO remplacer par <add ana="supplement"> -->
					</optional>
				</group>
				<group>
					<ref name="form"/>
					<optional>
						<ref name="note-plan"/>
					</optional>
					<optional>
						<ref name="note-remarque"/>
					</optional>
					<oneOrMore>
						<ref name="sense"/>
					</oneOrMore>
					<zeroOrMore>
						<ref name="re-proverbe"/>
					</zeroOrMore>
					<optional>
						<ref name="etym"/>
					</optional>
					<optional>
						<ref name="re-supplement"/> <!-- TODO remplacer par <add ana="supplement"> -->
					</optional>
					<zeroOrMore>
						<ref name="note-remarque"/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="re-nuance"/>
					</zeroOrMore>
					<optional>
						<ref name="note-historique"/>
					</optional>
					<optional>
						<choice>
						<ref name="re-nuance"/>
						<ref name="re-proverbe"/>
					</choice>
					</optional>
					<zeroOrMore>
						<ref name="etym"/>
					</zeroOrMore>
					<optional>
						<ref name="re-nuance"/>
					</optional>
					<optional>
						<ref name="note-historique"/>
					</optional>
					<optional>
						<ref name="note-remarque"/>
					</optional>
					<optional>
						<ref name="note-historique"/>
					</optional>
					<optional>
						<ref name="etym"/>
					</optional>
					<optional>
						<ref name="re-supplement"/> <!-- TODO remplacer par <add ana="supplement"> -->
					</optional>
					<optional>
						<choice>
							<ref name="re-nuance"/> <!-- erreur xml : devrait être contenu dans supplément ?-->
							<ref name="note-historique"/> <!-- erreur xml idem ? -->
							<ref name="note-remarque"/> <!-- erreur xml idem ? -->
						</choice>
					</optional>
				</group>
			</choice>
		</element>
	</define>

	<!-- description de <form> -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>&#171;&#x202F;Pour la grammaire&#x202F;&#187;</h2>
		<p>Cf. III. "Prononciation"</p>
		<p>Chaque entrée est composée d'un certain nombre d'éléments significatifs, à commencer par <b>form</b>, un élément obligatoirement présent et encodant des informations relatives à l'identification de l'item traité.</p>
	</a:documentation>

	<define name="form">
		<element name="form">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Forme de la vedette</b>
				<p>Au minimum, ces informations se résument à la représentation graphique du mot, éventuellement enrichie d'indications grammaticales ou sur la prononciation de l'item.</p>
			</a:documentation>
			<choice>
				<group> <!-- <form> qui ne sont pas des fils directs de <entry> -->
					<text/>
					<optional>
						<ref name="ref"/>
						<text/>
					</optional>
				</group>
				<group> <!-- <form> fils direct de <entry> -->
					<ref name="orth"/>
					<optional>
						<ref name="pron"/>
					</optional>
					<optional>
						<text/>
					</optional>
					<optional>
						<ref name="ref"/>
					</optional>
					<zeroOrMore>
						<ref name="cit"/>
					</zeroOrMore>
					<optional>
						<ref name="gram"/>
					</optional>
					<optional>
						<text/>
					</optional>
					<optional>
						<ref name="note"/>
					</optional>
				</group>
			</choice>
		</element>
	</define>

	<define name="orth">
		<element name="orth">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Graphie(s)</b>
			</a:documentation>
			<text/>
		</element>
	</define>

	<define name="pron">
		<element name="pron">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Prononciation(s)</b>
			</a:documentation>
			<text/>
			<optional>
				<ref name="ref"/>
				<text/>
			</optional>
			<zeroOrMore>
				<ref name="cit"/>
				<text/>
			</zeroOrMore>
		</element>
	</define>

	<define name="gram">
		<element name="gram">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Indications grammaticales</b>
			</a:documentation>
			<text/>
			<optional>
				<ref name="ref"/>
				<text/>
			</optional>
		</element>
	</define>

	<define name="note">
		<element name="note">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>???</b>
			</a:documentation>
			<text/>
			<optional>
				<ref name="ref"/>
				<text/>
			</optional>
		</element>
	</define>

	<!-- description de <sense> -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>&#171;&#x202F;Pour la signification des mots&#x202F;&#187;</h2>
		<p>Cf. II. "Classification des significations de mots"</p>
	</a:documentation>

	<define name="sense">
		<element name="sense">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Acception(s)</b>
			</a:documentation>
			<optional> <!-- @n absent si <entry> ne contient qu'un seul <sense>, obligatoire sinon -->
				<attribute name="n">
					<data type="positiveInteger"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="ana">
					<value>supplement</value>
				</attribute>
			</optional>
			<interleave> <!-- TODO ordre à raffiner -->
				<optional>
					<ref name="etym"/>
				</optional>
				<optional>
					<choice>
						<ref name="note-remarque"/>
						<ref name="note-historique"/>
					</choice>
				</optional>
				<zeroOrMore>
					<choice>
					<ref name="re-supplement"/> <!-- TODO remplacer par <add ana="supplement"> -->
					<ref name="re-proverbe"/>
				</choice>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="cit"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="dictScrap"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="sense2"/>
				</zeroOrMore>
			</interleave>
		</element>
	</define>

	<define name="sense2">
		<element name="sense">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Sous-acception(s)</b>
			</a:documentation>
			<choice>
				<text/>
				<group>
					<zeroOrMore>
						<choice>
							<ref name="cit"/>
							<ref name="dictScrap"/>
						</choice>
					</zeroOrMore>
				</group>
			</choice>
		</element>
	</define>
  
	<define name="dictScrap">
		<element name="dictScrap"> <!-- TODO supprimer <dictScrap> sans attribut -->
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Contenu divers</b>
			</a:documentation>
			<optional>
				<text/>
			</optional>
			<zeroOrMore>
				<ref name="q"/> <!-- pertinent ? -->
					<text/>
			</zeroOrMore>
			<text/>
			<zeroOrMore>
				<ref name="ref"/>
				<text/>
			</zeroOrMore>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Citation(s)</b>
		<h2>Les Citations du <i>Littré</i></h2>
	</a:documentation>

	<define name="cit">
		<element name="cit">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Citation(s)</b>
				<p>Cf. IV. "Exemples tirés des auteurs classiques ou autres"</p>
			</a:documentation>
			<element name="quote">
				<text/>
				<optional>
					<ref name="ref"/>
					<text/>
				</optional>
			</element>
			<ref name="bibl"/>
		</element>
	</define>

	<define name="bibl">
		<element name="bibl">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Références bibliographiques</b>
			</a:documentation>
			<choice>
				<group> <!-- <bibl> dans <sourceDesc> -->
					<choice>
						<text/>
						<ref name="ref"/>
					</choice>
				</group>
				<group> <!-- <bibl> dans le reste du document (fils direct de <cit>) -->
					<optional>
						<element name="author">
							<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Auteur</b>
							</a:documentation>
							<optional>
								<attribute name="xml:id"/> <!-- TODO supprimer cardinalité <optional> -->
							</optional>
							<text/>
						</element>
					</optional>
					<element name="biblScope">
						<text/>
					</element>
				</group>
			</choice>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Citation(s)</b>
		<h2>Les Remarques du <i>Littré</i></h2>
	</a:documentation>

	<define name="note-remarque">
		<element name="note">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Remarques</b>
			<p>Cf. V. "Remarques"</p>
			</a:documentation>
			<attribute name="type">
				<value>remarque</value>
			</attribute>
			<choice>
				<group>
					<optional>
						<choice>
							<ref name="dictScrap"/> <!-- code "Ajoutez :" dans le texte -->
							<text/>
					</choice>
					</optional>
					<oneOrMore>
						<ref name="p"/>
					</oneOrMore>
				</group>
				<group>
					<text/>
					<zeroOrMore>
						<ref name="q"/> <!-- pertinent ? -->
						<text/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="cit"/>
						<text/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="ref"/>
						<text/>
					</zeroOrMore>
				</group>
			</choice>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Citation(s)</b>
		<h2>Les Proverbes du <i>Littré</i></h2>
	</a:documentation>

	<define name="re-proverbe">
		<element name="re">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Proverbes</b>
			<p>"Il est enfin un dernier ordre de remarques, tantôt mises sous ce chef, tantôt incorporées dans la série des acceptions du mot. Il s'agit de l'interprétation de certaines locutions figurées ou proverbiales."</p>
			</a:documentation>
			<attribute name="type">
				<value>proverbe</value>
			</attribute>
			<optional>
				<text/>
			</optional>
			<zeroOrMore>
				<ref name="form"/> <!-- TODO remplacer cardinalité <zeroOrMore> par <oneOrMore> -->
				<choice>
					<text/>
					<ref name="dictScrap"/>
				</choice>
				<zeroOrMore>
					<ref name="cit"/>
					<text/>
				</zeroOrMore>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="cit"/>
				<text/>
			</zeroOrMore>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Citation(s)</b>
		<h2>Les Nuances du <i>Littré</i></h2>
	</a:documentation>

	<define name="re-nuance">
		<element name="re">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Nuances</b>
			<p>Cf. VI. "Définitions &amp; Synonymes"</p>
			<p>/*... cit ...*/</p>
			</a:documentation>
			<attribute name="type">
				<value>nuance</value>
			</attribute>
			<interleave>
				<text/>
				<zeroOrMore>
					<ref name="cit"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="ref"/>
				</zeroOrMore>
			</interleave>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>&#171;&#x202F;Pour la partie historique&#x202F;&#187;</h2>
	</a:documentation>

	<define name="note-historique">
		<element name="note">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Informations historiques</b>
				<p>Cf. VII. "Historique"</p>
			</a:documentation>
			<attribute name="type">
				<value>historique</value>
			</attribute>
			<optional>
				<ref name="dictScrap"/> <!-- code "Ajoutez :" dans le texte -->
			</optional>
			<choice> <!-- TODO supprimer <choice> pour rendre <p> obligatoire -->
				<oneOrMore>
					<ref name="p"/>
				</oneOrMore>
				<group>  <!-- TODO supprimer <group> pour rendre <p> précédent obligatoire --> <!-- code le contenu de <p> si <p> est absent -->
					<optional>
						<choice>
							<text/>
							<ref name="dictScrap"/>
						</choice>
					</optional>
					<optional>
						<ref name="label"/>
					</optional>
					<zeroOrMore>
						<ref name="cit"/>
					</zeroOrMore>
				</group>
			</choice>
		</element>
	</define>
  <!-- appelé uniquement par <note type="historique"> -->
	<define name="label">
		<element name="label">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Datation</b>
			</a:documentation>
			<text/>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>&#171;&#x202F;Pour l'étymologie&#x202F;&#187;</h2>
	</a:documentation>
  
	<define name="etym">
		<element name="etym">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Étymologie</b>
				<p>Cf. IX. "Étymologie"</p>
			</a:documentation>
			<text/>
			<zeroOrMore>
				<choice>
					<ref name="cit"/>
					<ref name="ref"/>
				</choice>
				<text/>
			</zeroOrMore>
			<optional>
				<ref name="dictScrap"/>
			</optional>
		</element>
	</define>

	<!-- ========================= DESCRIPTION éléments absents de la préface ========================= -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>Le supplément du <i>Littré</i></h2>
	</a:documentation>

	<define name="re-supplement"> <!-- TODO ajouter @ana="supplement" aux fils direct -->
		<element name="re">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Sous-entrée en supplément</b>
			</a:documentation>
			<attribute name="ana">
				<value>supplement</value>
			</attribute>
			<zeroOrMore>
				<ref name="re"/> <!-- TODO remplacer <re> sans attribut par autre élément -->
			</zeroOrMore>
			<optional>
				<ref name="form"/>
			</optional>
			<optional>
				<ref name="dictScrap"/> <!-- code "Ajoutez :" dans le texte -->
			</optional>
			<zeroOrMore>
				<choice>
					<ref name="cit"/>
					<ref name="etym"/>
					<ref name="note-remarque"/>
					<ref name="dictScrap"/> <!-- TODO remplacer <dictScrap> sans attribut par autre élément -->
					<ref name="re"/> <!-- TODO remplacer <re> sans attribut par autre élément -->
				</choice>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="sense"/>
			</zeroOrMore>
			<zeroOrMore>
				<choice>
					<ref name="cit"/>
					<ref name="dictScrap"/> <!-- TODO remplacer <dictScrap> sans attribut par autre élément -->
					<ref name="etym"/>
					<ref name="note-historique"/>
					<ref name="note-remarque"/>
					<ref name="re"/> <!-- TODO remplacer <re> sans attribut par autre élément -->
					<ref name="re-nuance"/>
					<ref name="re-proverbe"/>
				</choice>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="sense"/>
			</zeroOrMore>
		</element>
	</define>

	<!-- ========================= DESCRIPTION éléments de pure structure ========================= -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>Entrées complexes&#160;</h2>
	</a:documentation>

	<define name="note-plan">
		<element name="note">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Plan des acceptions</b>
			</a:documentation>
			<attribute name="type">
				<value>plan</value>
			</attribute>
			<optional>
				<ref name="dictScrap"/> <!-- code une intro générale sur le terme dans le texte -->
			</optional>
			<ref name="list"/>
		</element>
	</define>
	<!-- appelé uniquement par <note type="plan"> -->
	<define name="list">
		<element name="list">
			<oneOrMore>
				<element name="item">
					<attribute name="n">
						<data type="string"/> <!-- <data type="positiveInteger"/> sauf un cas -->
					</attribute>
					<text/>
				</element>
			</oneOrMore>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>Pure structuration</h2>
	</a:documentation>

	<define name="p">
	  <element name="p">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Regroupement d'informations</b>
			</a:documentation>
			<optional>
				<choice>
					<text/>
					<ref name="dictScrap"/>
				</choice>
			</optional>
			<optional>
				<ref name="ref"/>
				<text/>
			</optional>
			<optional>
				<ref name="label"/>
			</optional>
			<optional>
				<ref name="dictScrap"/> <!-- code "Ajoutez :" dans le texte -->
			</optional>
			<zeroOrMore>
				<ref name="cit"/>
				<choice>
					<text/>
					<ref name="dictScrap"/>
				</choice>
			</zeroOrMore>
			<optional>
				<ref name="dictScrap"/>
			</optional>
		</element>
	</define>

	<!-- appelé par <dictScrap> et <note type="remarque"> -->
	<define name="q">
		<element name="q">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Exemples, Locutions</b>
			</a:documentation>
			<text/>
		</element>
	</define>

	<define name="ref">
		<element name="ref">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Renvoi</b>
			</a:documentation>
			<attribute name="target"/> <!-- TODO ajouter <data type="anyURI"/> -->
			<text/>
		</element>
	</define>

	<define name="re"> <!-- TODO supprimer <re> sans attribut -->
		<element name="re">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>???</b>
			</a:documentation>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="cit"/>
					<ref name="form"/>
					<ref name="ref"/>
					<ref name="sense"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	
	<!-- ========================= DESCRIPTION <TEI> ========================= -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h1>Schéma de l'entête de métadonnées</h1>
	</a:documentation>

	<start>
		<element name="TEI">
			<a:documentation xmlns="http://www.w3.org/1999/xhtml"><b>Élément racine</b>
			</a:documentation>
			<attribute name="xml:id"/> <!-- datatype sous-entendu -->
			<ref name="teiHeader"/>
			<ref name="text"/>
		</element>
	</start>

	<!-- ========================= DESCRIPTION <teiHeader> ========================= -->

	<define name="teiHeader">
		<element name="teiHeader">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Métadonnées</b></a:documentation>
			<ref name="fileDesc"/>
		</element>
	</define>

	<define name="fileDesc">
		<element name="fileDesc">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Description du document</b></a:documentation>
			<ref name="titleStmt"/>
			<ref name="publicationStmt"/>
			<ref name="sourceDesc"/>
		</element>
	</define>
  
	<define name="titleStmt">
		<element name="titleStmt">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Titre du document</b></a:documentation>
			<element name="title">
				<text/>
			</element>
		</element>
	</define>

	<define name="publicationStmt">
		<element name="publicationStmt">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Mention de publication</b>
			  <p>Contient une série d'informations relatives à la publication de ce document.</p>
			</a:documentation>
			<element name="date">
				<text/>
			</element>
			<element name="idno">
				<text/>
			</element>
			<element name="publisher">
				<text/>
			</element>
			<element name="availability">
				<attribute name="status">
					<value>restricted</value>
				</attribute>
				<oneOrMore>
					<ref name="p"/>
				</oneOrMore>
			</element>
		</element>
	</define>

	<define name="sourceDesc">
		<element name="sourceDesc">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Description des sources</b>
			<p>&#171;&#x202F;Décrit la source à partir de laquelle un texte électronique a été dérivé ou produit&#x202F;&#187;, ici d'une part le <i>Littré</i>, d'autre part la <a href="http://francois.gannaz.free.fr/Littre/accueil.php">version électronique du <i>Littré</i></a> réalisée par François Gannaz.</p>
			</a:documentation>
			<ref name="bibl"/>
			<ref name="bibl"/>
		</element>
	</define>

</grammar>