xml/littre.rng

<?xml version="1.0" encoding="UTF-8"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
	ns="http://www.tei-c.org/ns/1.0"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
	xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	xml:lang="fr">

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<title>Schéma d'encodage du Littré</title>
		<h1>SCHÉMA D'ENCODAGE DU LITTRÉ</h1>
		<p>Présentation de la structure informatique du <i>Dictionnaire de la langue française</i> d'Émile Littré, encodé en XML et respectant les spécifications de la <a href="http://www.tei-c.org/Guidelines/P5/">TEI-P5</a>. Ce projet a été réalisé à partir de la version électronique du <i>Littré</i> conçue par François Gannaz (<a href="http://francois.gannaz.free.fr/Littre/accueil.php">version 1.3</a>) et correspond à l'intégralité de l’édition originale de 1872 en 4 volumes, enrichie de son supplément de 1877.</p>
	</a:documentation>

	<!-- ========================= DESCRIPTION <text> ========================= -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<p><b><i>&#171;&#x202F;Le passé de la langue conduit immédiatement l'esprit vers son avenir.&#x202F;&#187;</i></b><br/>(Émile Littré, Préface du <i>Dictionnaire de la langue française</i>)</p>
		<h2>&#171;&#x202F;Pour la nomenclature&#x202F;&#187;</h2>
		<p>Convaincu de la nécessité de connaître les emplois passés pour éclairer les usages présents, Émile Littré construit la nomenclature de son <i>Dictionnaire de la langue française</i> sur le socle de celle du <i>Dictionnaire de l'Académie Française</i>&#160;; ce &#171;&#x202F;corps de la langue&#x202F;&#187; est donc enrichi à partir de nombreuses sources d'addition&#160;:</p>
		<p><ul>
			<li>le &#171;&#x202F;dépouillement des auteurs classiques&#x202F;&#187; d'une part, ainsi que les &#171;&#x202F;auteurs du seizième siècle, du quinzième, et même [...] les auteurs antérieurs, s'il était possible d'y puiser sans réserve&#x202F;&#187;&#160;;</li>
			<li>les &#171;&#x202F;termes de métier&#x202F;&#187;&#160;(à partir de la nomenclature des travaux de Furetière et Richelet)&#160; et les termes scientifiques d'autre part, deux objects par ailleurs bien distincts&#160;: &#171;&#x202F;tandis que la langue des métiers est toujours populaire, souvent archaïque, et tirée des entrailles même de notre idiome, la langue scientifique est presque toute grecque, artificielle et systématique&#160;: là l'étymologie se présente d'elle-même&#x202F;&#187;.</li>
		</ul></p>
	</a:documentation>

	<define name="text">
		<element name="text">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Corps du document</b></a:documentation>
			<element name="body">
				<oneOrMore>
					<ref name="entry"/>
				</oneOrMore>
			</element>
		</element>
	</define>

	<!-- description de <entry> -->

	<define name="entry">
		<element name="entry">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Article (entrée)</b>
				<p>Chaque entrée est dotée d'un identifiant unique, correspondant à sa vedette. Cet identifiant permet d'assurer la liaison entre les nombreux renvois et les entrées du auxquels ils réfèrent. Il peut-être :
					<ul>
						<li>une forme simple, auquel cas il s'agit du lemme de ce mot, éventuellement suivi d'un point et d'un indice numérique afin de différencier deux entrée portant sur le même lemme<br/>exemple : @xml:id="abrégé.1" et xml:id="abrégé.2" ;</li>
						<li>une forme composée&#x202F;&#8211;&#x202F;type locution&#x202F;&#8211;&#x202F;transcrite telle quelle<br/>exemple : @xml:id="te_deum" et @xml:id="vaque_à_tout" ;</li>
						<li>un préfixe, auquel cas sa forme sera suivie d'un tiret court, son statut de suffixe étant précisé par l'attribut @type<br/>exemple : @xml:id="andr-" ;</li>
						<li>un suffixe, auquel cas sa forme sera la même que celle d'un mot simple, son statut de suffixe étant précisé par l'attribut @type<br/>exemple : @xml:id="acé" ;</li>
					</ul>
				</p>
			</a:documentation>
			<attribute name="xml:id"/>
			<optional>
				<attribute name="type">
					<choice>
						<value>prefixe</value>
						<value>suffixe</value>
					</choice>
				</attribute>
			</optional>
			<choice>
				<group> <!-- entrées particulières codant participes passés, pluriels, etc. -->
					<ref name="form"/>
					<zeroOrMore>
						<ref name="cit"/>
					</zeroOrMore>
					<optional>
						<choice>
							<ref name="note-remarque"/>
							<ref name="note-historique"/>
						</choice>
					</optional>
					<optional>
						<ref name="re-supplement"/>
					</optional>
				</group>
				<group>
					<ref name="form"/>
					<optional>
						<ref name="note-plan"/>
					</optional>
					<optional>
						<ref name="note-remarque"/>
					</optional>
					<oneOrMore>
						<ref name="sense"/>
					</oneOrMore>
					<zeroOrMore>
						<ref name="re-proverbe"/>
					</zeroOrMore>
					<optional>
						<ref name="etym"/>
					</optional>
					<optional>
						<ref name="re-supplement"/>
					</optional>
					<zeroOrMore>
						<ref name="note-remarque"/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="re-nuance"/>
					</zeroOrMore>
					<optional>
						<ref name="note-historique"/>
					</optional>
					<optional>
						<choice>
						<ref name="re-nuance"/>
						<ref name="re-proverbe"/>
					</choice>
					</optional>
					<zeroOrMore>
						<ref name="etym"/>
					</zeroOrMore>
					<optional>
						<ref name="re-nuance"/>
					</optional>
					<optional>
						<ref name="note-historique"/>
					</optional>
					<optional>
						<ref name="note-remarque"/>
					</optional>
					<optional>
						<ref name="note-historique"/>
					</optional>
					<optional>
						<ref name="etym"/>
					</optional>
					<optional>
						<ref name="re-supplement"/>
					</optional>
					<optional>
						<choice>
							<ref name="re-nuance"/> <!-- erreur xml : devrait être contenu dans supplément ?-->
							<ref name="note-historique"/> <!-- erreur xml idem ? -->
							<ref name="note-remarque"/> <!-- erreur xml idem ? -->
						</choice>
					</optional>
				</group>
			</choice>
		</element>
	</define>

	<!-- description de <form> -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>&#171;&#x202F;Pour la grammaire&#x202F;&#187;</h2>
		<p>Chaque entrée est composée d'un certain nombre d'éléments significatifs, à commencer par <b>form</b>, un élément obligatoirement présent et encodant des informations relatives à l'identification de l'item traité.</p>
	</a:documentation>

	<define name="form">
		<element name="form">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Forme de la vedette</b>
			<p>Au minimum, ces informations se résument à la représentation graphique du mot (<b>orth</b>), éventuellement enrichie d'indications grammaticales (<b>gram</b>) ou sur la prononciation de l'item (<b>pron</b>). Ces indications, le cas échéant, peuvent être enrichies de discussions ou remarques critiques de l'auteur (<b>note</b>), notamment sur la prononciation ou des particularités grammaticales.</p>
			</a:documentation>
			<choice>
				<group> <!-- <form> qui ne sont pas des fils directs de <entry> -->
					<text/>
					<optional>
						<ref name="ref"/>
						<text/>
					</optional>
				</group>
				<group> <!-- <form> fils direct de <entry> -->
					<ref name="orth"/>
					<optional>
						<ref name="pron"/>
					</optional>
					<optional>
						<text/>
					</optional>
					<optional>
						<ref name="ref"/>
					</optional>
					<zeroOrMore>
						<ref name="cit"/>
					</zeroOrMore>
					<optional>
						<ref name="gram"/>
					</optional>
					<optional>
						<text/>
					</optional>
					<optional>
						<ref name="note"/>
					</optional>
				</group>
			</choice>
		</element>
	</define>

	<define name="orth">
		<element name="orth">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Graphie</b></a:documentation>
			<text/>
		</element>
	</define>

	<define name="pron">
		<element name="pron">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Prononciation</b></a:documentation>
			<text/>
			<optional>
				<ref name="ref"/>
				<text/>
			</optional>
			<zeroOrMore>
				<ref name="cit"/>
				<text/>
			</zeroOrMore>
		</element>
	</define>

	<define name="gram">
		<element name="gram">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Indication grammaticale</b></a:documentation>
			<text/>
			<optional>
				<ref name="ref"/>
				<text/>
			</optional>
		</element>
	</define>

 <!-- appelé uniquement par <form> -->
	<define name="note">
		<element name="note">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Note mixte</b></a:documentation>
			<text/>
			<optional>
				<ref name="ref"/>
				<text/>
			</optional>
		</element>
	</define>

	<!-- description de <sense> -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>&#171;&#x202F;Pour la signification des mots&#x202F;&#187;</h2>
		<p>Cf. II. "Classification des significations de mots"</p>
		<p>&#171;&#x202F;Nous en sommes encore à nous demander comment un homme tel que M. Littré, et comment une maison aussi habile que celle qui figure au bas du titre, ont pu condamner le lecteur à un tel imbroglio et négliger à ce point un accessoire si essentiel dans un livre de recherches&#160;: presque point d'alinéas&#160;; certains paragraphes ont jusqu'à deux, trois, quatre et même cinq cent lignes ; les exemples n'ont rien qui les distingue du texte de la définition&#160;; les vers revêtent la forme et le caractère de la prose.&#x202F;&#187;<br/>(Pierre Larousse, Préface du <i>Grand Dictionnaire universel</i>, 1865)</p>
	</a:documentation>

	<define name="sense">
		<element name="sense">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Acception</b>
			</a:documentation>
			<optional> <!-- @n absent si <entry> ne contient qu'un seul <sense>, obligatoire sinon -->
				<attribute name="n">
					<data type="positiveInteger"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="ana">
					<value>supplement</value>
				</attribute>
			</optional>
			<interleave> <!-- TODO ordre à raffiner -->
				<optional>
					<ref name="etym"/>
				</optional>
				<optional>
					<choice>
						<ref name="note-remarque"/>
						<ref name="note-historique"/>
					</choice>
				</optional>
				<zeroOrMore>
					<choice>
					<ref name="re-supplement"/>
					<ref name="re-proverbe"/>
				</choice>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="cit"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="dictScrap"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="sense2"/>
				</zeroOrMore>
			</interleave>
		</element>
	</define>

	<define name="sense2">
		<element name="sense">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Sous-acception</b>
			</a:documentation>
			<choice>
				<text/>
				<group>
					<zeroOrMore>
						<choice>
							<ref name="cit"/>
							<ref name="dictScrap"/>
						</choice>
					</zeroOrMore>
				</group>
			</choice>
		</element>
	</define>
  
	<define name="dictScrap">
		<element name="dictScrap"> <!-- TODO supprimer <dictScrap> sans attribut -->
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Contenu mixte</b></a:documentation>
			<optional>
				<text/>
			</optional>
			<zeroOrMore>
				<ref name="q"/>
					<text/>
			</zeroOrMore>
			<text/>
			<zeroOrMore>
				<ref name="ref"/>
				<text/>
			</zeroOrMore>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>Citations</h2>
	</a:documentation>

	<define name="cit">
		<element name="cit">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Citation</b>
				<p>Cf. IV. "Exemples tirés des auteurs classiques ou autres"</p>
			</a:documentation>
			<element name="quote">
				<text/>
				<optional>
					<ref name="ref"/>
					<text/>
				</optional>
			</element>
			<ref name="bibl"/>
		</element>
	</define>

	<define name="bibl">
		<element name="bibl">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Référence bibliographique</b>
			</a:documentation>
			<choice>
				<group> <!-- <bibl> dans <sourceDesc> -->
					<choice>
						<text/>
						<ref name="ref"/>
					</choice>
				</group>
				<group> <!-- <bibl> dans le reste du document (fils direct de <cit>) -->
					<optional>
						<element name="author">
							<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Auteur</b>
							</a:documentation>
							<optional>
								<attribute name="xml:id"/> <!-- TODO supprimer cardinalité <optional> -->
							</optional>
							<text/>
						</element>
					</optional>
					<element name="biblScope">
						<text/>
					</element>
				</group>
			</choice>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>Remarques</h2>
	</a:documentation>

	<define name="note-remarque">
		<element name="note">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Remarque</b>
				<p>&#171;&#x202F;Sous ce chef, j'ai réuni quelques notions complémentaires qui n'entrent pas d'ordinaire dans les plans lexicographiques, mais qui pourtant ne me semblent pas dénuées d'intérêt et d'utilité. [...] Ces remarques, de leur nature, sont très diverses.&#x202F;&#187;<br/>(Préface du <i>Littré</i>)</p>
			<p>Ainsi, ces remarques concernent notamment des difficultés de la langue, et l'auteur s'inspire des grammairiens, tout en apportant des éléments nouveaux, afin d'éclairer l'usage tant dans l'emploi que dans l'orthographe.</p>
			<p>Toujours suivant ce principe directeur de &#171;&#x202F;combine[r] l'usage présent de la langue et son usage passé, afin de donner à l'usage présent toute la plénitude et la sûreté qu'il comporte&#x202F;&#187;, Littré éclaire certaines proscriptions contemporaines concernant des faits de langue pourtant attestés chez les grands auteurs classiques.</p>
			</a:documentation>
			<attribute name="type">
				<value>remarque</value>
			</attribute>
			<choice>
				<group>
					<optional>
						<choice>
							<ref name="dictScrap"/> <!-- code "Ajoutez :" dans le texte -->
							<text/>
					</choice>
					</optional>
					<oneOrMore>
						<ref name="p"/>
					</oneOrMore>
				</group>
				<group>
					<text/>
					<zeroOrMore>
						<ref name="q"/> <!-- pertinent ? -->
						<text/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="cit"/>
						<text/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="ref"/>
						<text/>
					</zeroOrMore>
				</group>
			</choice>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>Proverbes</h2>
	</a:documentation>

	<define name="re-proverbe">
		<element name="re">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Proverbe</b>
			<p>&#171;&#x202F;Il est enfin un dernier ordre de remarques, tantôt mises sous ce chef, tantôt incorporées dans la série des acceptions du mot. Il s'agit de l'interprétation de certaines locutions figurées ou proverbiales.&#x202F;&#187;<br/>(Préface du <i>Littré</i>)</p>
			</a:documentation>
			<attribute name="type">
				<value>proverbe</value>
			</attribute>
			<optional>
				<text/>
			</optional>
			<zeroOrMore>
				<ref name="form"/> <!-- TODO remplacer cardinalité <zeroOrMore> par <oneOrMore> -->
				<choice>
					<text/>
					<ref name="dictScrap"/>
				</choice>
				<zeroOrMore>
					<ref name="cit"/>
					<text/>
				</zeroOrMore>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="cit"/>
				<text/>
			</zeroOrMore>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>Nuances</h2>
	</a:documentation>

	<define name="re-nuance">
		<element name="re">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Nuance</b>
			<p>&#171;&#x202F;[...] la discussion des synonymes m'a souvent averti de prendre garde aux nuances et de ne pas recevoir comme une véritable explication le renvoi d'un terme à l'autre.&#x202F;&#187;<br/>(Préface du <i>Littré</i>)</p>
			</a:documentation>
			<attribute name="type">
				<value>nuance</value>
			</attribute>
			<interleave>
				<text/>
				<zeroOrMore>
					<ref name="cit"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="ref"/>
				</zeroOrMore>
			</interleave>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>&#171;&#x202F;Pour la partie historique&#x202F;&#187;</h2>
	</a:documentation>

	<define name="note-historique">
		<element name="note">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Information historique</b>
			<p style="color : #666666;">&#171;&#x202F;Je donne le nom d'historique à une collection de phrases appartenant à l'ancienne langue. Lorsqu'un mot a été exposé complètement tel qu'il est aujourd'hui dans l'usage, lorsque les sens y ont été rangés d'après l'ordre logique, lorsque des exemples classiques, autant que faire se peut, ont été rapportés à l'appui, lorsque la prononciation a été indiquée et, au besoin, discutée, lorsque enfin des remarques grammaticales et critiques ont touché, dans les cas qui le comportent, à l'emploi du mot ou aux difficultés qu'il présente, alors s'ouvre un nouveau paragraphe pour les textes tirés de la langue d'oïl. Ainsi placé, c'est le prolongement naturel d'une série que l'on tronque quand on s'arrête à notre temps et aux temps classiques. Après avoir vu comment écrivent Corneille, Pascal, Bossuet, Voltaire, Montesquieu et nos contemporains, on pénètre en arrière et l'on voit comment ont écrit Montaigne, Amyot, Commines et Froissart, Oresme et Machaut, Joinville, Jean de Meung, Guillaume de Lorris, Villehardouin, le sire de Couci, le traducteur du livre des Psaumes, et Turold, l'auteur de la Chanson de Roland.&#x202F;&#187;<br/>(Préface du <i>Littré</i>)</p>
			</a:documentation>
			<attribute name="type">
				<value>historique</value>
			</attribute>
			<optional>
				<ref name="dictScrap"/> <!-- code "Ajoutez :" dans le texte -->
			</optional>
			<choice> <!-- TODO supprimer <choice> pour rendre <p> obligatoire -->
				<oneOrMore>
					<ref name="p"/>
				</oneOrMore>
				<group>  <!-- TODO supprimer <group> pour rendre <p> précédent obligatoire --> <!-- code le contenu de <p> si <p> est absent -->
					<optional>
						<choice>
							<text/>
							<ref name="dictScrap"/>
						</choice>
					</optional>
					<optional>
						<ref name="label"/>
					</optional>
					<zeroOrMore>
						<ref name="cit"/>
					</zeroOrMore>
				</group>
			</choice>
		</element>
	</define>
  <!-- appelé uniquement par <note type="historique"> -->
	<define name="label">
		<element name="label">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Datation</b>
			</a:documentation>
			<text/>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>&#171;&#x202F;Pour l'étymologie&#x202F;&#187;</h2>
	</a:documentation>
  
	<define name="etym">
		<element name="etym">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Étymologie</b>
				<p>Cf. IX. "Étymologie"</p>
				<p>Cette rubrique, née toujours de la volonté de l'auteur de lié passé et présent, prend corps dans &#171;&#x202F;la détermination ou du moins la discussion de l’origine de chaque mot établie par la comparaison des mêmes formes dans le français, dans les patois et dans l'espagnol, l'italien, et le provençal ou langue d'oc.&#x202F;&#187;<br/>(Page de garde du <i>Littré</i>)</p>
				<p>&#171;&#x202F;ceux qui iront jusqu'à désirer de connaître l'étymologie entreront dans l'histoire du mot, et trouveront, au-dessous de cette histoire, l'étymologie qui très souvent en est dépendante.&#x202F;&#187;<br/>(Préface du <i>Littré</i>)</p>
			</a:documentation>
			<text/>
			<zeroOrMore>
				<choice>
					<ref name="cit"/>
					<ref name="ref"/>
				</choice>
				<text/>
			</zeroOrMore>
			<optional>
				<ref name="dictScrap"/>
			</optional>
		</element>
	</define>

	<!-- ========================= DESCRIPTION éléments absents de la préface ========================= -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>Supplément</h2>
	</a:documentation>

	<define name="re-supplement"> <!-- TODO ajouter @ana="supplement" aux fils direct -->
		<element name="re">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Sous-entrée en supplément</b>
			</a:documentation>
			<attribute name="ana">
				<value>supplement</value>
			</attribute>
			<zeroOrMore>
				<ref name="re"/> <!-- TODO remplacer <re> sans attribut par autre élément -->
			</zeroOrMore>
			<optional>
				<ref name="form"/>
			</optional>
			<optional>
				<ref name="dictScrap"/> <!-- code "Ajoutez :" dans le texte -->
			</optional>
			<zeroOrMore>
				<choice>
					<ref name="cit"/>
					<ref name="etym"/>
					<ref name="note-remarque"/>
					<ref name="dictScrap"/> <!-- TODO remplacer <dictScrap> sans attribut par autre élément -->
					<ref name="re"/> <!-- TODO remplacer <re> sans attribut par autre élément -->
				</choice>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="sense"/>
			</zeroOrMore>
			<zeroOrMore>
				<choice>
					<ref name="cit"/>
					<ref name="dictScrap"/> <!-- TODO remplacer <dictScrap> sans attribut par autre élément -->
					<ref name="etym"/>
					<ref name="note-historique"/>
					<ref name="note-remarque"/>
					<ref name="re"/> <!-- TODO remplacer <re> sans attribut par autre élément -->
					<ref name="re-nuance"/>
					<ref name="re-proverbe"/>
				</choice>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="sense"/>
			</zeroOrMore>
		</element>
	</define>

	<!-- ========================= DESCRIPTION éléments de structure ========================= -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>Plans</h2>
	</a:documentation>

	<define name="note-plan">
		<element name="note">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Plan des acceptions</b>
			</a:documentation>
			<attribute name="type">
				<value>plan</value>
			</attribute>
			<optional>
				<ref name="dictScrap"/> <!-- code une intro générale sur le terme dans le texte -->
			</optional>
			<ref name="list"/>
		</element>
	</define>
	<!-- appelé uniquement par <note type="plan"> -->
	<define name="list">
		<element name="list">
			<oneOrMore>
				<element name="item">
					<attribute name="n">
						<data type="string"/> <!-- <data type="positiveInteger"/> sauf un cas -->
					</attribute>
					<text/>
				</element>
			</oneOrMore>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h2>Structuration</h2>
	</a:documentation>

	<define name="p">
	  <element name="p">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Regroupement d'informations</b>
			</a:documentation>
			<optional>
				<choice>
					<text/>
					<ref name="dictScrap"/>
				</choice>
			</optional>
			<optional>
				<ref name="ref"/>
				<text/>
			</optional>
			<optional>
				<ref name="label"/>
			</optional>
			<optional>
				<ref name="dictScrap"/> <!-- code "Ajoutez :" dans le texte -->
			</optional>
			<zeroOrMore>
				<ref name="cit"/>
				<choice>
					<text/>
					<ref name="dictScrap"/>
				</choice>
			</zeroOrMore>
			<optional>
				<ref name="dictScrap"/>
			</optional>
		</element>
	</define>

	<!-- appelé par <dictScrap> et <note type="remarque"> -->
	<define name="q">
		<element name="q">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Exemple, Locution</b>
			</a:documentation>
			<text/>
		</element>
	</define>

 <define name="ref"> <!-- TODO Encadrer de <xr>-->
		<element name="ref">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Renvoi</b>
			<p>Littré intègre à son <i>Dictionnaire</i> de nombreux renvois entre différentes entrées, qu'il convient de structurer finement afin de mieux comprendre le squelette définitionnel des items. Cela permettrait de représenter systématiquement ce réseau voulu par l'auteur et donner ainsi au texte une vraie dimension électronique, une réelle épaisseur.<br/>Le lien entre le renvoi et sa référence est désormais assuré par la mise en place des attributs @xml:id</p>
			</a:documentation>
			<attribute name="target"/> <!-- TODO ajouter <data type="anyURI"/> -->
			<text/>
		</element>
	</define>

	<define name="re"> <!-- TODO supprimer <re> sans attribut -->
		<element name="re">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
			</a:documentation>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="cit"/>
					<ref name="form"/>
					<ref name="ref"/>
					<ref name="sense"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	
	<!-- ========================= DESCRIPTION <TEI> ========================= -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h1>Schéma de l'entête de métadonnées</h1>
	</a:documentation>

	<start>
		<element name="TEI">
			<a:documentation xmlns="http://www.w3.org/1999/xhtml"><b>Élément racine</b>
			</a:documentation>
			<attribute name="xml:id"/> <!-- datatype sous-entendu -->
			<ref name="teiHeader"/>
			<ref name="text"/>
		</element>
	</start>

	<!-- ========================= DESCRIPTION <teiHeader> ========================= -->

	<define name="teiHeader">
		<element name="teiHeader">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Métadonnées</b></a:documentation>
			<ref name="fileDesc"/>
		</element>
	</define>

	<define name="fileDesc">
		<element name="fileDesc">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Description du document</b>
				<p>Description éditoriale du document.</p>
			</a:documentation>
			<ref name="titleStmt"/>
			<ref name="publicationStmt"/>
			<ref name="sourceDesc"/>
		</element>
	</define>
  
	<define name="titleStmt">
		<element name="titleStmt">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Titre du document</b></a:documentation>
			<element name="title">
				<text/>
			</element>
		</element>
	</define>

	<define name="publicationStmt">
		<element name="publicationStmt">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Mention de publication</b>
			  <p>Contient une série d'informations relatives à la publication de ce document.</p>
			</a:documentation>
			<element name="date">
				<text/>
			</element>
			<element name="idno">
				<text/>
			</element>
			<element name="publisher">
				<text/>
			</element>
			<element name="availability">
				<attribute name="status">
					<value>restricted</value>
				</attribute>
				<oneOrMore>
					<ref name="p"/>
				</oneOrMore>
			</element>
		</element>
	</define>

	<define name="sourceDesc">
		<element name="sourceDesc">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Description des sources</b>
			<p>&#171;&#x202F;Décrit la source à partir de laquelle un texte électronique a été dérivé ou produit&#x202F;&#187; (Principes directeurs de la TEI-P5), ici d'une part le <i>Littré</i>, d'autre part la version électronique du <i>Littré</i> réalisée par François Gannaz.</p>
			</a:documentation>
			<ref name="bibl"/>
			<ref name="bibl"/>
		</element>
	</define>

</grammar>