littre/xml/littre.rng

<?xml version="1.0" encoding="UTF-8"?>

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
	ns="http://www.tei-c.org/ns/1.0"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
	xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	xml:lang="fr">

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h1>Schéma d'encodage du Littré</h1>
		<p>Présentation de la structure informatique du Dictionnaire de la langue française d'Émile Littré, encodé en XML et respectant les spécifications de la TEI-P5. Ce projet a été réalisé à partir de la version électronique du Lttré réalisée par François Gannaz.</p>
	</a:documentation>

	<!-- ========================= DESCRIPTION <text> ========================= -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h3>Le Littré</h3>
		<p>Cf. 0. "Introduction" + I. "Nomenclature des mots"</p>
		<p>&#171;&#x202F;Le passé de la langue conduit immédiatement l'esprit vers son avenir.&#x202F;&#187;</p>
		<p>les mots que l'on trouve dans le Littré&#160;: la nomenclature du Dictionnaire de l'Académie Française. Ce &#171;&#x202F;corps de la langue&#x202F;&#187; est enrichi par l'auteur, qui veille scrupuleusement à distinguer pa le biais de la typographie ce dernier des ajouts qu'il intègre&#160;: &#171;&#x202F;j'ai eu soin de noter par un signe particulier tous les mots qui sont étrangers au Dictionnaire de l'Académie&#x202F;&#187;. Les sources d'addition à l'origine de cet enrichissement sont les suivantes&#160;:</p>
		<p><ul>
			<li>&#171;&#x202F;dépouillement des auteurs classiques&#x202F;&#187;</li>
			<li>&#171;&#x202F;auteurs du seizième siècle, du quinzième, et même par les auteurs antérieurs, s'il était possible d'y puiser sans réserve&#x202F;&#187;</li>
			<li>&#171;&#x202F;termes de métier&#x202F;&#187;&#160;: à partir de la nomenclature des travaux de Furetière et Richelet</li>
			<li>termes scientifiques&#160;: &#171;&#x202F;tandis que la langue des métiers est toujours populaire, souvent archaïque, et tirée des entrailles même de notre idiome, la langue scientifique est presque toute grecque, artificielle et systématique&#160;: là l'étymologie se présente d'elle-même&#x202F;&#187;</li>
		</ul></p>
	</a:documentation>

	<define name="text">
		<element name="text">
			<element name="body">
				<oneOrMore>
					<ref name="entry"/>
				</oneOrMore>
			</element>
		</element>
	</define>

	<!-- description de <entry> -->

	<define name="entry">
		<element name="entry">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml">Un article (entrée)
				<p>Un identifiant unique pour chaque entrée, correspondant à la vedette. Celle-ci peut-être :
					<ul>
						<li>une forme simple, auquel cas il s'agira du lemme de ce mot, éventuellement suivi d'un point et d'un indice numérique afin de différencier deux entrée portant sur le même lemme<br/>exemple : @xml:id="abrégé.1" et xml:id="abrégé.2" ;</li>
						<li>une forme composée&#x202F;&#8211;&#x202F;type locution&#x202F;&#8211;&#x202F;transcrite telle quelle<br/>exemple : @xml:id="te_deum" et @xml:id="vaque_à_tout" ;</li>
						<li>un préfixe, auquel cas sa forme sera suivie d'un tiret court, son statut de suffixe étant précisé par l'attribut @type<br/>exemple : @xml:id="andr-" ;</li>
						<li>un suffixe, auquel cas sa forme sera la même que celle d'un mot simple, son statut de suffixe étant précisé par l'attribut @type<br/>exemple : @xml:id="acé" ;</li>
					</ul>
				</p>
			</a:documentation>
			<attribute name="xml:id"/>
			<optional>
				<attribute name="type">
					<choice>
						<value>prefixe</value>
						<value>suffixe</value>
					</choice>
				</attribute>
			</optional>
			<choice>
				<group> <!-- entrées particulières codant participes passés, pluriels, etc. -->
					<ref name="form"/>
					<zeroOrMore>
						<ref name="cit"/>
					</zeroOrMore>
					<optional>
						<choice>
							<ref name="note-remarque"/>
							<ref name="note-historique"/>
						</choice>
					</optional>
					<optional>
						<ref name="re-supplement"/> <!-- TODO remplacer par <add ana="supplement"> -->
					</optional>
				</group>
				<group>
					<ref name="form"/>
					<optional>
						<ref name="note-plan"/>
					</optional>
					<optional>
						<ref name="note-remarque"/>
					</optional>
					<oneOrMore>
						<ref name="sense"/>
					</oneOrMore>
					<zeroOrMore>
						<ref name="re-proverbe"/>
					</zeroOrMore>
					<optional>
						<ref name="etym"/>
					</optional>
					<optional>
						<ref name="re-supplement"/> <!-- TODO remplacer par <add ana="supplement"> -->
					</optional>
					<zeroOrMore>
						<ref name="note-remarque"/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="re-nuance"/>
					</zeroOrMore>
					<optional>
						<ref name="note-historique"/>
					</optional>
					<optional>
						<choice>
						<ref name="re-nuance"/>
						<ref name="re-proverbe"/>
					</choice>
					</optional>
					<zeroOrMore>
						<ref name="etym"/>
					</zeroOrMore>
					<optional>
						<ref name="re-nuance"/>
					</optional>
					<optional>
						<ref name="note-historique"/>
					</optional>
					<optional>
						<ref name="note-remarque"/>
					</optional>
					<optional>
						<ref name="note-historique"/>
					</optional>
					<optional>
						<ref name="etym"/>
					</optional>
					<optional>
						<ref name="re-supplement"/> <!-- TODO remplacer par <add ana="supplement"> -->
					</optional>
					<optional>
						<choice>
							<ref name="re-nuance"/> <!-- erreur xml : devrait être contenu dans supplément ?-->
							<ref name="note-historique"/> <!-- erreur xml idem ? -->
							<ref name="note-remarque"/> <!-- erreur xml idem ? -->
						</choice>
					</optional>
				</group>
			</choice>
		</element>
	</define>

	<!-- description de <form> -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h3>form</h3>
		<p>Cf. III. "Prononciation"</p>
	</a:documentation>

	<define name="form">
		<element name="form">
			<choice>
				<group> <!-- <form> qui ne sont pas des fils directs de <entry> -->
					<text/>
					<optional>
						<ref name="ref"/>
						<text/>
					</optional>
				</group>
				<group> <!-- <form> fils direct de <entry> -->
					<ref name="orth"/>
					<optional>
						<ref name="pron"/>
					</optional>
					<optional>
						<text/>
					</optional>
					<optional>
						<ref name="ref"/>
					</optional>
					<zeroOrMore>
						<ref name="cit"/>
					</zeroOrMore>
					<optional>
						<ref name="gram"/>
					</optional>
					<optional>
						<text/>
					</optional>
					<optional>
						<ref name="note"/>
					</optional>
				</group>
			</choice>
		</element>
	</define>

	<define name="orth">
		<element name="orth">
			<text/>
		</element>
	</define>

	<define name="pron">
		<element name="pron">
			<text/>
			<optional>
				<ref name="ref"/>
				<text/>
			</optional>
			<zeroOrMore>
				<ref name="cit"/>
				<text/>
			</zeroOrMore>
		</element>
	</define>

	<define name="gram">
		<element name="gram">
			<text/>
			<optional>
				<ref name="ref"/>
				<text/>
			</optional>
		</element>
	</define>

	<define name="note">
		<element name="note">
			<text/>
			<optional>
				<ref name="ref"/>
				<text/>
			</optional>
		</element>
	</define>

	<!-- description de <sense> -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h3>sense</h3>
		<p>Cf. II. "Classification des significations de mots"</p>
	</a:documentation>

	<define name="sense">
		<element name="sense">
			<optional> <!-- @n absent si <entry> ne contient qu'un seul <sense>, obligatoire sinon -->
				<attribute name="n">
					<data type="positiveInteger"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="ana">
					<value>supplement</value>
				</attribute>
			</optional>
			<interleave> <!-- TODO ordre à raffiner -->
				<optional>
					<ref name="etym"/>
				</optional>
				<optional>
					<choice>
						<ref name="note-remarque"/>
						<ref name="note-historique"/>
					</choice>
				</optional>
				<zeroOrMore>
					<choice>
					<ref name="re-supplement"/> <!-- TODO remplacer par <add ana="supplement"> -->
					<ref name="re-proverbe"/>
				</choice>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="cit"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="dictScrap"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="sense2"/>
				</zeroOrMore>
			</interleave>
		</element>
	</define>

	<define name="sense2">
		<element name="sense">
				<choice>
					<text/>
					<group>
						<zeroOrMore>
							<choice>
								<ref name="cit"/>
								<ref name="dictScrap"/>
							</choice>
						</zeroOrMore>
					</group>
				</choice>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h3>dictScrap ? et cit</h3>
		<p>Cf. IV. "Exemples tirés des auteurs classiques ou autres"</p>
	</a:documentation>
  
	<define name="dictScrap">
		<element name="dictScrap"> <!-- TODO supprimer <dictScrap> sans attribut -->
			<optional>
				<text/>
			</optional>
			<zeroOrMore>
				<ref name="q"/> <!-- pertinent ? -->
					<text/>
			</zeroOrMore>
			<text/>
			<zeroOrMore>
				<ref name="ref"/>
				<text/>
			</zeroOrMore>
		</element>
	</define>

	<define name="cit">
		<element name="cit">
			<element name="quote">
				<text/>
				<optional>
					<ref name="ref"/>
					<text/>
				</optional>
			</element>
			<ref name="bibl"/>
		</element>
	</define>

	<define name="bibl">
		<element name="bibl">
			<choice>
				<group> <!-- <bibl> dans <sourceDesc> -->
					<choice>
						<text/>
						<ref name="ref"/>
					</choice>
				</group>
				<group> <!-- <bibl> dans le reste du document (fils direct de <cit>) -->
					<optional>
						<element name="author">
							<optional>
								<attribute name="xml:id"/> <!-- TODO supprimer cardinalité <optional> -->
							</optional>
							<text/>
						</element>
					</optional>
					<element name="biblScope">
						<text/>
					</element>
				</group>
			</choice>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h3>note type"remarque"</h3>
		<p>Cf. V. "Remarques"</p>
	</a:documentation>

	<define name="note-remarque">
		<element name="note">
			<attribute name="type">
				<value>remarque</value>
			</attribute>
			<choice>
				<group>
					<optional>
						<choice>
							<ref name="dictScrap"/> <!-- code "Ajoutez :" dans le texte -->
							<text/>
					</choice>
					</optional>
					<oneOrMore>
						<ref name="p"/>
					</oneOrMore>
				</group>
				<group>
					<text/>
					<zeroOrMore>
						<ref name="q"/> <!-- pertinent ? -->
						<text/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="cit"/>
						<text/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="ref"/>
						<text/>
					</zeroOrMore>
				</group>
			</choice>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h3>note type"remarque"</h3>
		<p>Cf. V. "Remarques"</p>
		<p>"Il est enfin un dernier ordre de remarques, tantôt mises sous ce chef, tantôt incorporées dans la série des acceptions du mot. Il s'agit de l'interprétation de certaines locutions figurées ou proverbiales."</p>
	</a:documentation>

	<define name="re-proverbe">
		<element name="re">
			<attribute name="type">
				<value>proverbe</value>
			</attribute>
			<optional>
				<text/>
			</optional>
			<zeroOrMore>
				<ref name="form"/> <!-- TODO remplacer cardinalité <zeroOrMore> par <oneOrMore> -->
				<choice>
					<text/>
					<ref name="dictScrap"/>
				</choice>
				<zeroOrMore>
					<ref name="cit"/>
					<text/>
				</zeroOrMore>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="cit"/>
				<text/>
			</zeroOrMore>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h3>re type"nuance"</h3>
		<p>Cf. VI. "Définitions &amp; Synonymes"</p>
		<p>/*... cit ...*/</p>
	</a:documentation>

	<define name="re-nuance">
		<element name="re">
			<attribute name="type">
				<value>nuance</value>
			</attribute>
			<interleave>
				<text/>
				<zeroOrMore>
					<ref name="cit"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="ref"/>
				</zeroOrMore>
			</interleave>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h3>note type="historique"</h3>
		<p>Cf. VII. "Historique"</p>
	</a:documentation>

	<define name="note-historique">
		<element name="note">
			<attribute name="type">
				<value>historique</value>
			</attribute>
			<optional>
				<ref name="dictScrap"/> <!-- code "Ajoutez :" dans le texte -->
			</optional>
			<choice> <!-- TODO supprimer <choice> pour rendre <p> obligatoire -->
				<oneOrMore>
					<ref name="p"/>
				</oneOrMore>
				<group>  <!-- TODO supprimer <group> pour rendre <p> précédent obligatoire --> <!-- code le contenu de <p> si <p> est absent -->
					<optional>
						<choice>
							<text/>
							<ref name="dictScrap"/>
						</choice>
					</optional>
					<optional>
						<ref name="label"/>
					</optional>
					<zeroOrMore>
						<ref name="cit"/>
					</zeroOrMore>
				</group>
			</choice>
		</element>
	</define>
  <!-- appelé uniquement par <note type="historique"> -->
	<define name="label">
		<element name="label">
			<text/>
		</element>
	</define>

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
		<h3>etym</h3>
		<p>Cf. IX. "Étymologie"</p>
	</a:documentation>
  
	<define name="etym">
		<element name="etym">
			<text/>
			<zeroOrMore>
				<choice>
					<ref name="cit"/>
					<ref name="ref"/>
				</choice>
				<text/>
			</zeroOrMore>
			<optional>
				<ref name="dictScrap"/>
			</optional>
		</element>
	</define>

	<!-- ========================= DESCRIPTION éléments absents de la préface ========================= -->

	<define name="re-supplement"> <!-- TODO ajouter @ana="supplement" aux fils direct -->
		<element name="re">
			<attribute name="ana">
				<value>supplement</value>
			</attribute>
			<zeroOrMore>
				<ref name="re"/> <!-- TODO remplacer <re> sans attribut par autre élément -->
			</zeroOrMore>
			<optional>
				<ref name="form"/>
			</optional>
			<optional>
				<ref name="dictScrap"/> <!-- code "Ajoutez :" dans le texte -->
			</optional>
			<zeroOrMore>
				<choice>
					<ref name="cit"/>
					<ref name="etym"/>
					<ref name="note-remarque"/>
					<ref name="dictScrap"/> <!-- TODO remplacer <dictScrap> sans attribut par autre élément -->
					<ref name="re"/> <!-- TODO remplacer <re> sans attribut par autre élément -->
				</choice>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="sense"/>
			</zeroOrMore>
			<zeroOrMore>
				<choice>
					<ref name="cit"/>
					<ref name="dictScrap"/> <!-- TODO remplacer <dictScrap> sans attribut par autre élément -->
					<ref name="etym"/>
					<ref name="note-historique"/>
					<ref name="note-remarque"/>
					<ref name="re"/> <!-- TODO remplacer <re> sans attribut par autre élément -->
					<ref name="re-nuance"/>
					<ref name="re-proverbe"/>
				</choice>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="sense"/>
			</zeroOrMore>
		</element>
	</define>

	<!-- ========================= DESCRIPTION éléments de pure structure ========================= -->

	<define name="note-plan">
		<element name="note">
			<attribute name="type">
				<value>plan</value>
			</attribute>
			<optional>
				<ref name="dictScrap"/> <!-- code une intro générale sur le terme dans le texte -->
			</optional>
			<ref name="list"/>
		</element>
	</define>
	<!-- appelé uniquement par <note type="plan"> -->
	<define name="list">
		<element name="list">
			<oneOrMore>
				<element name="item">
					<attribute name="n">
						<data type="string"/> <!-- <data type="positiveInteger"/> sauf un cas -->
					</attribute>
					<text/>
				</element>
			</oneOrMore>
		</element>
	</define>

	<define name="p">
	  <element name="p">
			<optional>
				<choice>
					<text/>
					<ref name="dictScrap"/>
				</choice>
			</optional>
			<optional>
				<ref name="ref"/>
				<text/>
			</optional>
			<optional>
				<ref name="label"/>
			</optional>
			<optional>
				<ref name="dictScrap"/> <!-- code "Ajoutez :" dans le texte -->
			</optional>
			<zeroOrMore>
				<ref name="cit"/>
				<choice>
					<text/>
					<ref name="dictScrap"/>
				</choice>
			</zeroOrMore>
			<optional>
				<ref name="dictScrap"/>
			</optional>
		</element>
	</define>

	<!-- appelé par <dictScrap> et <note type="remarque"> -->
	<define name="q">
		<element name="q"> <!-- pertinent ? -->
			<text/>
		</element>
	</define>

	<define name="ref">
		<element name="ref">
			<attribute name="target"/> <!-- TODO ajouter <data type="anyURI"/> -->
			<text/>
		</element>
	</define>

	<define name="re"> <!-- TODO supprimer <re> sans attribut -->
		<element name="re">
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="cit"/>
					<ref name="form"/>
					<ref name="ref"/>
					<ref name="sense"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	
	<!-- ========================= DESCRIPTION <teiHeader> ========================= -->

	<a:documentation  xmlns="http://www.w3.org/1999/xhtml">
			<h2>Schéma de l'entête de métadonnées</h2>
	</a:documentation>

	<start>
		<element name="TEI">
			<a:documentation xmlns="http://www.w3.org/1999/xhtml">Élément racine
			</a:documentation>
			<attribute name="xml:id"/> <!-- datatype sous-entendu -->
			<ref name="teiHeader"/>
			<ref name="text"/>
		</element>
	</start>

	<define name="teiHeader">
		<element name="teiHeader">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml">/*...*/
			</a:documentation>
			<ref name="fileDesc"/>
		</element>
	</define>

	<!-- description de <fileDesc> -->

	<define name="fileDesc">
		<element name="fileDesc">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml">/*...*/
			</a:documentation>
			<ref name="titleStmt"/>
			<ref name="publicationStmt"/>
			<ref name="sourceDesc"/>
		</element>
	</define>
  
	<define name="titleStmt">
		<element name="titleStmt">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml">/*...*/
			</a:documentation>
			<element name="title">
				<text/>
			</element>
		</element>
	</define>

	<define name="publicationStmt">
		<element name="publicationStmt">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Mention de publication</b>
			  <p>Contient une série d'informations relatives à la publication de ce document.</p>
			</a:documentation>
			<element name="date">
				<text/>
			</element>
			<element name="idno">
				<text/>
			</element>
			<element name="publisher">
				<text/>
			</element>
			<element name="availability">
				<attribute name="status">
					<value>restricted</value>
				</attribute>
				<oneOrMore>
					<ref name="p"/>
				</oneOrMore>
			</element>
		</element>
	</define>

	<define name="sourceDesc">
		<element name="sourceDesc">
			<a:documentation  xmlns="http://www.w3.org/1999/xhtml"><b>Description des sources</b>
			<p>&#171;&#x202F;Décrit la source à partir de laquelle un texte électronique a été dérivé ou produit&#x202F;&#187;, ici d'une part le <i>Littré</i>, d'autre part la <a href="http://francois.gannaz.free.fr/Littre/accueil.php">version électronique du <i>Littré</i></a> réalisée par François Gannaz.</p>
			</a:documentation>
			<ref name="bibl"/>
			<ref name="bibl"/>
		</element>
	</define>

</grammar>